<div class="container">
  <div class="row">
    <div class="row ml-1">
      <!-- Search form -->
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
    <div class="ml-auto mr-3">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#CAModal">
        + New Appliance
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Select</th>
          <th scope="col">Appliance IP</th>
          <th scope="col">Current</th>
          <th scope="col">Previous</th>
          <th scope="col">Version</th>
          <th scope="col">Updated Date</th>
          <th scope="col">Updated By</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">

              </label>
            </div>
          </th>
          <td>10.104.91.152</td>
          <td>CA</td>
          <td>HANMIPO3</td>
          <td>140</td>
          <td>DATE</td>
          <td>nlee</td>
          <td>
            <div class="">
              <a href="#"><i class="far fa-copy"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
              <a href="#"><i class="far fa-trash-alt"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">

              </label>
            </div>
          </th>
          <td>10.104.91.152</td>
          <td>CA</td>
          <td>HANMIPO3</td>
          <td>140</td>
          <td>DATE</td>
          <td>nlee</td>
          <td>
            <div class="">
              <a href="#"><i class="far fa-copy"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
              <a href="#"><i class="far fa-trash-alt"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">

              </label>
            </div>
          </th>
          <td>10.104.91.152</td>
          <td>CA</td>
          <td>HANMIPO3</td>
          <td>140</td>
          <td>DATE</td>
          <td>nlee</td>
          <td>
            <div class="">
              <a href="#"><i class="far fa-copy"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
              <a href="#"><i class="far fa-trash-alt"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">

              </label>
            </div>
          </th>
          <td>10.104.91.152</td>
          <td>CA</td>
          <td>HANMIPO3</td>
          <td>140</td>
          <td>DATE</td>
          <td>nlee</td>
          <td>
            <div class="">
              <a href="#"><i class="far fa-copy"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
              <a href="#"><i class="far fa-trash-alt"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="CAModal" tabindex="-1" role="dialog" aria-labelledby="CAModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CAModalLabel">Create New Appliance: CA </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="applianceIpCA">Appliance IP</label>
            <input type="text" required pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" class="form-control" id="applianceIpCA" aria-describedby="applianceIpHelp" placeholder="Enter Appliance IP">
            <small id="applianceIpHelpCA" class="form-text text-muted">Appliance IP adress is required.</small>
          </div>
          <div class="form-group">
            <label for="applianceVersionCA">Appliance Version</label>
            <input type="text" class="form-control" id="applianceVersionCA" placeholder="Appliance Version">
          </div>
          <div class="form-group">
            <label for="currentCA">Current Project</label>
            <input type="text" class="form-control" id="currentCA" placeholder="Current Project">
            <small id="currentCA" class="form-text text-muted">Default value will be set to CA.</small>
          </div>
          <div class="form-group">
            <label for="previousCA">Previous Project</label>
            <input type="text" class="form-control" id="previousCA" placeholder="Previous Project">
            <small id="previousCA" class="form-text text-muted">Default value will be set to CA.</small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
