<style>
  .titles {
    float: left;
  }
</style>

<div class="container">
  <div class="">
    <div class="titles">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#bravoModal">
        + New Appliance
      </button>
    </div>
    <table
      class="table table-striped table-hover table-sm"
      id="table"
      data-toggle="table"
      data-sort-class="table-active"
      data-search="true"
      data-visible-search="true"
      data-search-align="right"
      data-show-pagination-switch="true"
      data-show-fullscreen="true"
      data-show-columns="true"
      data-page-list="[10, 25, 50, 100, all]"
      data-sortable="true">
      <thead>
        <tr>
          <th scope="col">Select</th>
          <th data-field="appliance" data-sortable="true" scope="col">Appliance IP</th>
          <th data-field="current" data-sortable="true" scope="col">Current</th>
          <th data-field="previous" data-sortable="true" scope="col">previous</th>
          <th data-field="version" data-sortable="true" scope="col">Version</th>
          <th data-field="updated" data-sortable="true" scope="col">Updated Date</th>
          <th data-field="updatedBy" data-sortable="true" scope="col">Updated By</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">

              </label>
            </div>
          </th>
          <td>10.104.91.155</td>
          <td>BRAVO</td>
          <td>HANMIPOC03</td>
          <td>140</td>
          <td>DATE</td>
          <td>nlee</td>
          <td>
            <div class="">
              <a href="#"><i class="far fa-copy"></i></a>
              <a data-toggle="modal" data-target="#bravoModalEdit" href="#bravoModalEdit"><i class="fas fa-edit"></i></a>
              <a href="#"><i class="far fa-trash-alt"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">

              </label>
            </div>
          </th>
          <td>10.104.91.152</td>
          <td>OPEN</td>
          <td>HANMIPOC31</td>
          <td>140</td>
          <td>DATE</td>
          <td>nlee</td>
          <td>
            <div class="">
              <a href="#"><i class="far fa-copy"></i></a>
              <a data-toggle="modal" data-target="#bravoModalEdit" href="#bravoModalEdit"><i class="fas fa-edit"></i></a>
              <a href="#"><i class="far fa-trash-alt"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">

              </label>
            </div>
          </th>
          <td>10.104.91.159</td>
          <td>OPEN</td>
          <td>HANMIPOC13</td>
          <td>140</td>
          <td>DATE</td>
          <td>nlee</td>
          <td>
            <div class="">
              <a href="#"><i class="far fa-copy"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
              <a href="#"><i class="far fa-trash-alt"></i></a>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">

              </label>
            </div>
          </th>
          <td>10.104.91.150</td>
          <td>OPEN</td>
          <td>HANMIPOC35</td>
          <td>140</td>
          <td>DATE</td>
          <td>nlee</td>
          <td>
            <div class="">
              <a href="#"><i class="far fa-copy"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
              <a href="#"><i class="far fa-trash-alt"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="bravoModal" tabindex="-1" role="dialog" aria-labelledby="bravoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bravoModalLabel">Create New Appliance: SC4-B </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="applianceIpA">Appliance IP</label>
            <input type="text" required pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" class="form-control" id="applianceIpA" aria-describedby="applianceIpHelp" placeholder="Enter Appliance IP">
            <small id="applianceIpHelpA" class="form-text text-muted">Appliance IP adress is required.</small>
          </div>
          <div class="form-group">
            <label for="applianceVersionA">Appliance Version</label>
            <input type="text" class="form-control" id="applianceVersionA" placeholder="Appliance Version">
          </div>
          <div class="form-group">
            <label for="currentA">Current Project</label>
            <input type="text" class="form-control" id="currentA" placeholder="Current Project">
            <small id="currentA" class="form-text text-muted">Default value will be set to OPEN.</small>
          </div>
          <div class="form-group">
            <label for="previousA">Previous Project</label>
            <input type="text" class="form-control" id="previousA" placeholder="Previous Project">
            <small id="previousA" class="form-text text-muted">Default value will be set to OPEN.</small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="bravoModalEdit" tabindex="-1" role="dialog" aria-labelledby="bravoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bravoModalLabel">Edit Appliance: SC4-B </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="applianceIpA">Appliance IP</label>
            <input type="text" required pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" class="form-control" id="applianceIpA" aria-describedby="applianceIpHelp" placeholder="Enter Appliance IP">
            <small id="applianceIpHelpA" class="form-text text-muted">Appliance IP adress is required.</small>
          </div>
          <div class="form-group">
            <label for="applianceVersionA">Appliance Version</label>
            <input type="text" class="form-control" id="applianceVersionA" placeholder="Appliance Version">
          </div>
          <div class="form-group">
            <label for="currentA">Current Project</label>
            <input type="text" class="form-control" id="currentA" placeholder="Current Project">
            <small id="currentA" class="form-text text-muted">Default value will be set to OPEN.</small>
          </div>
          <div class="form-group">
            <label for="previousA">Previous Project</label>
            <input type="text" class="form-control" id="previousA" placeholder="Previous Project">
            <small id="previousA" class="form-text text-muted">Default value will be set to OPEN.</small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
