<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/header') -%>
  </head>
  <body>
    <h1>Appliances</h1>
    <%- include('partials/nav') -%>
    <%- include('partials/footer') -%>
  </body>
</html>
